@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
.idk {
  display: flex;
  flex-direction: column;
}

.all-movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .movies-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 40px;
    p {
        margin-top: 10px;
        font-family: "Josefin Sans", sans-serif;
        color: rgba(0, 0, 0, 0.671);
    }
  }
}
hr {
    border-color: #3a5a406a ;
    width: 100%;
    border-width: 1.5px;
    margin-top: 100px;
}
.posters {
  width: 220px;
  height: 250px;
  border-radius: 10px;
}
.card {
  background-color: #e2dfd9;
  padding-top: 13px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 15%;
  font-family: "Josefin Sans", sans-serif;
  h2 {
    font-size: 18px;
    color: #3a5a40;
  }
  align-items: center;
  p {
    color: #3a5a40;
  }
}
.card:hover {
  transition: color, background-color 0.7s ease;
background-color: #3a5a4052;
}
.movies-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination {
  margin: 25px;
  display: flex;
  gap: 15px;
}